.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 400px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.cart-btn {
  display: flex;
  justify-content: space-;
}

.cart-btn button {
  margin-left: 3px;
  font-size: 12px;
}

.cart-item-list {
  display: flex;
  justify-content: space-between;
}
